body {
	background-size: cover;
	background-image:
		url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
}

.signUp-form-container {
	width: 100%;
	position: relative;
}

.signUp-form-container .jumbotron {
	width: 45% !important;
	position: relative !important;
	margin-top: 10% !important;
	text-align: center !important;
	margin: 0 auto;
	border-radius: 10px;
	background-color: #86C5CC !important;
}

.signUp-form-container .jumbotron button {
	width: 100% !important;
}